@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.button-primary {
    background: #5567C9;
    box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
}

.button-secondary {
    border: 2px solid #5567C9;
    box-sizing: border-box;
    border-radius: 10px;
}

.color-dark {
    background: linear-gradient(180deg, #001949 20.98%, #000000 100%);
}